@font-face {
    font-family: "NEXT-ART";
    src: url(../fonts/ART_SemiBold.otf);
}

:root{
    --primary-color:#FDFDFD;
}

body {
    margin: 0;
}

.first-block {
    background-image: url(image/1.jpeg);
    background-size: cover;
}
  
  .header {
    display: flex;
    justify-content: center; 
    padding-top: 16px;
    font-family: "Nunito Sans", sans-serif;
    max-height: 100%;
    max-width: 100%;
  }
  .logo {
   
    max-width: 137px;
    max-height:72px;  
  }
  
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    
  }
  
  a {
    text-decoration: none;
    font-size: 18px;
    margin: 10px;
    padding: 20px 10px;
    color:var(--primary-color);
    font-weight: 600;
  }
  .continue{
    background-color:#1A3E3E;
    border-radius: 4px;
    font-size: 18px;
    color:var(--primary-color);
    padding: 10px 20px;
    line-height: 20px;
  }

  .text{
    font-family: "NEXT-ART";
    font-weight: 700;
    color:var(--primary-color);
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 2%;
    text-align: center;
    margin: 30px;
  }
  .header-block{
    display: flex;
    flex-direction: column;
    gap: 20%;
    padding-top: 50%;
    align-items: center;
    justify-content: center;
   
  }
  .register-form,
  .main-input,
  .register-button
  {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
    color:var(--primary-color);

  }
  .input-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:var(--primary-color);
  }
  .main-input{
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    position: relative;
    max-width: 270px;
    background-color: #FFFFFF33;
    
  }

  .register-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    backdrop-filter: blur(6px);
    background-color: #FFFFFF33;
    max-width: 100%;
    padding: 1% 5%;
    border-radius: 10px;
    margin-bottom: 10%;
    
  
}
.register-button{
    background-color:var(--primary-color);
    color: #1A3E3E;
    max-width: 100%;
    max-height: 50%;
    padding: 10% 50%;
    margin: 10%;
    border-radius: 8px;
    background-color: aqua;
  
}
.img1{
    position: absolute;
    top: 37%;
    left: 30%;
}
:hover{
    cursor: pointer;
}
input:focus {
    color: white;
  }
.form{
    max-width: 100%;
}